{% extends "dashboard.html" %}

<!-- {% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %} -->


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Load d3.js -->
    <script src="http://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>

    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- amcharts -->
<!--     <script src="https://www.amcharts.com/lib/4/core.js"></script>
	<script src="https://www.amcharts.com/lib/4/charts.js"></script>
	<script src="https://www.amcharts.com/lib/4/plugins/wordCloud.js"></script>
	<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script> -->

    <title>Global Terrorism Analysis</title>

</head>

{% block content%}

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      	<li><a href="{{ url_for('home') }}">Home</a></li>
        <li class="active"><a href="{{ url_for('worldmap') }}">Global Trends</a></li>
        <li><a href="{{ url_for('region') }}">Trends by region</a></li>
        <li><a href="{{ url_for('country') }}">Trends by country</a></li>
        <li><a href="{{ url_for('trends') }}">Trends</a></li>
        <!-- <li><a href="#">Geo</a></li> -->
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
	  	<div class="col-sm-2 sidenav hidden-xs">
	      <h2>Global Terrorism Ananlysis</h2>
	      <ul class="nav nav-pills nav-stacked">
	      	<li><a href="{{ url_for('home') }}">Home</a></li>
	    	<li class="active"><a href="{{ url_for('worldmap') }}">Global Trends</a></li>
	        <li><a href="{{ url_for('region') }}">Trends by region</a></li>
	        <li><a href="{{ url_for('country') }}">Trends by country</a></li>
	        <li><a href="{{ url_for('trends') }}">Trends</a></li>
	      </ul><br>
	    </div>
	    <br>
	    
	    <div class="col-sm-10" >

		      <!-- <div class="well">
		        <h4>Dashboard</h4>
		        <p>Some text..</p>
		      </div> -->
		      <!-- world map container -->
		      <!-- <div class="row" style="height: 500px"> -->
		      		<div class = "well" style="height: 750px; background-color: white; border-color: black">  <h2 style="text-align: center;"> Distribution of Terrorist events by attacks and deaths </h2>
			        	<div class="col-sm-1" style="height: 100%">

			        	<!-- <div class = "well">     -->
				            <div id="sliderContainer">
						        <input id="timeslide" type="range" min="1970" max="2017" value="1970" step="1"/>
						        <span id="range">1970</span>
						    </div>
			        	
				        	<button>
				                <select id = "selectButton">
				                    <option value="num_attacks">Attacks</option>
				                    <option value="num_deaths">Deaths</option>
				                </select>
				              </button>
			            <!-- </div> -->
			        	</div>
			        	<div class="col-sm-11" style="height: 100%">
			        	  
				            <div id="chart" style="height: 90%;">
			                    <svg viewBox='0 0 800 600' preserveAspectRatio='xMinYMin'/>
			                 </div> 
					            <script type="text/javascript" src = "{{ url_for('static', filename='js/map_12.js') }}">
	    						</script>

			        	</div>
			        </div>
		      
			  <!-- line plot -->
		      <div class = "row">
		      	<div class = "col-sm-12">
		      		<div class = "well" style=" margin-top: 50px; height: 750px">
		      			<div id = "linePlotDiv" style="height: 100%; height: 100%">
			      			<!-- Resources -->
							<script src="https://www.amcharts.com/lib/4/core.js"></script>
							<script src="https://www.amcharts.com/lib/4/charts.js"></script>
							<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
			      			<script type="text/javascript" src="{{url_for('static', filename = 'js/globalLinePlot.js') }} "></script>
		      			</div>

		      		</div>
		      	</div>
		      </div>

		      <!-- bar race -->
		      <div class = "row">
		      	<div class = "col-sm-12">
		      		<div class = "well" style=" margin-top: 50px; height: 750px">
		      			<h2 style="text-align: center;"> Bar race chart of number of attacks </h2>
		      			<div id = "barRaceChart" style="height: 100%; height: 100%">
			      			<!-- Resources -->
							<script src="https://www.amcharts.com/lib/4/core.js"></script>
							<script src="https://www.amcharts.com/lib/4/charts.js"></script>
							<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
			      			<script type="text/javascript" src="{{url_for('static', filename = 'js/barRace.js') }} "></script>
		      			</div>

		      		</div>
		      	</div>
		      </div>

		      <!-- word cloud -->
		      <div class = "row">
		      	<div class = "col-sm-12">
		      		<div class = "well" style=" margin-top: 50px; height: 750px">
		      			<h2 style="text-align: center;"> Motive word cloud </h2>
		      			<div id = "wordCloud" style="height: 100%; height: 100%">
			      			<script src="https://www.amcharts.com/lib/4/core.js"></script>
							<script src="https://www.amcharts.com/lib/4/charts.js"></script>
							<script src="https://www.amcharts.com/lib/4/plugins/wordCloud.js"></script>
							<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
			      			<script type="text/javascript" src="{{url_for('static', filename = 'js/wordcloudscript.js') }} "></script>
		      			</div>

		      		</div>
		      	</div>
		      </div>

<!--  				 <div class="well" style="width: 100%; height: 500px">
			        <div id="chart">
			        <script type="text/javascript" src = "{{ url_for('static', filename='js/map_final.js') }}">
   					 </script>
   					</div>
		      	</div> -->
		      
	    </div>
	</div>
</div>





{% endblock %}
