<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
       <link rel="stylesheet" href="https://codepen.io/chriddyp/pen/bWLwgP.css">
      <meta charset="utf-8">
      <title>Flask Parent Template</title>
      <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">-->
   </head>
   <body>
      <header>
         <div class="container">
            <!--<h1 class="logo">Global Terrorism Analysis</h1>-->
             <h1 style="color:blue;"> {{title}}</h1>
            <strong>
               <nav>
                  <ul class="menu">
                     <button type = "button"><a href="{{ url_for('home') }}">About</a></button>
                     <button type = "button"><a href="{{ url_for('index') }}">Analysis</a></button>
                  </ul>
               </nav>
            </strong>
         </div>
      </header>
      {% block content %}
      {% endblock %}
   </body>
</html>
