{% extends "dashboard.html" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}


{% block content%}

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li class="active"><a href="{{ url_for('worldmap') }}">Global Trends</a></li>
        <li><a href="{{ url_for('region') }}">Trends by region</a></li>
        <li><a href="{{ url_for('country') }}">Trends by country</a></li>
        <!-- <li><a href="#">Geo</a></li> -->
      </ul>
    </div>
  </div>
</nav>



<div class="container-fluid">
  <div class="row content">

    <div class="col-sm-2 sidenav hidden-xs">
      <h2>Global Terrorism Ananlysis</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ url_for('home') }}">Home</a></li>
    	<li ><a href="{{ url_for('worldmap') }}">Global Trends</a></li>
        <li class="active"><a href="{{ url_for('region') }}">Trends by region</a></li>
        <li><a href="{{ url_for('country') }}">Trends by country</a></li>
      </ul><br>
    </div>
    <br>

    <div class="col-sm-10" >
         
          <!-- scatter plot -->
          <div class = "row">
            <div class = "well" style="height: 750px; background-color: white; border-color: black">  
              <h4 style="margin-left: 20px"> Region: Asia </h4>
                <div class="col-sm-3" style="height: 100%">
                    <div id="sliderContainer">
                      <input id="time" type="range" min="1970" max="2017" value="1970" step="1"/>
                      <span id="timeval">1970</span>
                    </div>
                    <div id = "textbox">
                        <h3> Event Data </h3>
                    </div>
                </div>

                <div class="col-sm-9" style="height: 100%">
                    <div id="chart" style="height: 100%;">
                      <svg viewBox='0 0 700 550' preserveAspectRatio='xMinYMin'/>
                    </div> 
                    <script src="https://d3js.org/d3.v3.js"></script>
                    <script src="https://d3js.org/d3.geo.projection.v0.min.js"></script>
                    <script src="https://d3js.org/topojson.v1.js"></script>
                    <script src="//d3js.org/d3.v4.min.js"></script>
                    <script type="text/javascript" src = "{{ url_for('static', filename='js/region.js') }}">
                    </script>   
                </div>
            </div>
          </div>

             <!-- radar timelien -->
          <div class = "row">
            <div class = "col-sm-12">
              <div class = "well" style=" margin-top: 50px; height: 750px">
                <h4> Regional distribution of terror events </h4>
                <div id = "radarDiv" style="height: 100%; height: 100%; background-color: white">

                  <script src="https://www.amcharts.com/lib/4/core.js"></script>
                  <script src="https://www.amcharts.com/lib/4/charts.js"></script>
                  <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
                  <script type="text/javascript" src="{{url_for('static', filename = 'js/radarTimeline.js') }} "></script>
                </div>

              </div>
            </div>
          </div>

          <!-- region attack -->
          <!-- <div class = "row">
            <div class = "col-sm-12">
              <div class = "well" style=" margin-top: 50px; height: 750px">
                <div id = "bubbleAttack" style="height: 100%; height: 100%; background-color: white">

               <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
                  <script type="text/javascript">

                            var graphs = {{reg_attack | safe}};
                            var layout = {
                                title : 'Attack Type Distribution in North America (1970-2017)',
                                annotations : graphs.annot,
                                xaxis : {
                                    title : 'Wounds',
                                    type : 'log',
                                    tickmode : 'auto',
                                    nticks : 4,
                                    showline : true
                                        },
                                yaxis : {
                                    title : 'Kills',
                                    type : 'log',
                                    tickmode : 'auto',
                                    nticks : 4,
                                    showline : true
                                }
                            }
                            
                            Plotly.newPlot('bubbleAttack', graphs.data, layout);


                  </script>
                </div>

              </div>
            </div>
          </div>
               -->


      </div>


    

  </div>
</div>



{% endblock %}
